@media only screen and (max-width: 700px) {

    /*
    .devInfo is going to be removed
    */
    
    body {
    background-color: #92002F;
    }

    .devInfo {
        font-size: 8px;
    }

    .townSquareTitles {
        font-family: 'Poppins', sans-serif;

    }

    .loginForm {
        width: 100%;
    }

    .inputField {
        width: 75%;
        padding: 7px;
        margin: .75em 3em .75em 3em;
        height: 1.5em;
        border-radius: 10px;
        color: white;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        background-color: #92002F;
        font-family: 'Poppins', sans-serif;
        

    }

    ::placeholder {
        color: white;
        opacity: 1;
        font-family: 'Poppins', sans-serif;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
        font-family: 'Poppins', sans-serif;
    }
       
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    .labelText {
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        height: auto;
        border-radius: 18px; /* 5px rounded corners */
    }

    .card {
        margin-top: 2em;
        text-align: center;
        color: white;
        background-color: #92002F;
        padding: 2.1em 1em 2.1em 1em;
        /* Add shadows to create the "card" effect */
        transition: 0.3s;
        width: auto;
        height: 100%;


      }

      
      /* Add some padding inside the card container */
      .container {
        padding: 15px 15px;
      }

      .loginButton {
          font-size: 24px;
          padding-top: 1em;
          padding-bottom: 1em;
          padding-right: 5em;
          padding-left: 5em;
          border-color: white;
          border-style: none;
          border-radius: 50px; /* 5px rounded corners */
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .registerButton {
        font-size: 18px;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 3em;
        padding-left: 3em;
        border-radius: 50px; /* 5px rounded corners */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-color: white;
        border-style: solid;
        border-width: 2px;

        background-color: #92002F;

      }

      .link {
          text-decoration: none;
          color: white;
      }

}

