body {


    background-color: #85171B;
    color: #F6EFE8;
    display: inline-block;
    vertical-align: middle;
    margin: 10em auto 10em auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    
    
}


html {
  text-align: center;
}

body img {
    width: 65px;
    height: auto;
    margin-top: 10px;
    border-radius: 7px;
}

body b {
    margin-right: 5px;
}

.signUpTitle {
  text-shadow: 2px 2px #333333;
}

button {
  background: linear-gradient(to right, #ececec, #c4c4c4);
  border: 1px solid #ccc;
  padding: 10px 60px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button:active {
  background: #ac9595;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(197, 197, 197);
  font-style: italic;
  text-align: center;
}

