.slider {
  position: relative;
  //   height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.img_container {
  padding: 0 10px;
  width: 600px;
  
}

.image {
  width: 5400px;
  overflow:visible;
  max-height: 100%;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.right_arrow {
  position: absolute;
  right: 0;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.808);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  padding: 10px 0px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.233);
  
}

.left_arrow {
  position: absolute;
  left: 0;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.808);
  padding: 10px 0px;
  border-radius: 10px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.233);
}

.slide {
  opacity: 0;
  transition-duration: 1s;
  display: flex;
  justify-content: center;
  img {
    
    background-size: 100% 100%;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    // height: auto;
    // width: 700px;
    // max-height: 300px;
    // overflow-y: visible;
    // background-size: auto 100%;
  }
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
