.chatBubbles {
    background-color: #d3d5d9;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 0px 5px;
}

.displayPicture {
    margin: 0px 10px 0px 0px;
}

.chatTimeStamp {
    color: #9c9c9c;
    font-size: 14px;
}

.chatListItemContainer { 
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

