.SubNavWrap {
  height: 100%;
  h2 {
    margin: 0;
  }
}

.applied {
  background-color: blue;
}

.postWrapper {
  border-style: solid;
  border-width: thin;
}

.postWrapper__img {
  height: 50px;
  width: 50px;
}
