.chatContainer {
    margin: 0;
    position: relative;
    top: 43px;
    padding: 35px 10px;
    display: flex;
    flex-direction: row;
    img {
        border-radius: 50%;
        margin: 0px 10px;
    }
    #root {
        background-color: blue;
    }
}

.startGroupChatButton {
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 120px;
    border: none;
    font-size: 14px;
    border-radius: 10px;;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color:#92002f;
    color: #ffffff;
    font-size: 12px;
  }

.townSquareLogo {
    min-width: 30px;
    display: inline-block;
    width: 10px;
    height: auto;
    border-radius: 33%;
    border: solid;
    border-width: 2px;
    border-color: #f6efe8;
    align-items: center;
    text-align: center;
}

.groupChatIcon {
    width: 1rem;
}