.chatContainer {
  margin: 0;
  position: relative;
  top: 35px;
  padding-bottom: 50px;
  margin: 25px 5px;
  // padding: 0px 10px;
  flex-direction: row;
  img {
    border-radius: 50%;
  }
}

.startGroupChatButton {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 105px;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #92002f;
  color: #ffffff;
  font-size: 12px;
}

.townSquareLogo {
  min-width: 30px;
  display: inline-block;
  width: 10px;
  height: auto;
  border-radius: 33%;
  border: solid;
  border-width: 2px;
  border-color: #f6efe8;
  align-items: center;
  text-align: center;
}

.groupChatIcon {
  width: 1rem;
}
