.SubNavWrap {
  height: 100%;
  h2 {
    margin: 1rem 0rem;
  }
  display: flex;
  margin: 0;
  align-items: center;
  flex-basis: 100%;
  .SubNavWrap>*:first-child {
    width: 200px;
  }
  
  
}

.logo {
  min-width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10px;
  height: auto;
  border-radius: 50%;
  border: solid;
  border-width: 3px;


}

body {
  background: #e4dee0;
  font-family: 'Poppins', sans-serif;
  
}

.navContainer {
  display: flex;
  align-items: center;
  
  
}

.createPost {
  color: white;
}

.applied {
  background-color: blue;
}

.postWrapper {

  border-width: thin;
}

.postWrapper__img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.feedContainer {
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 50px;
}