.navBar {
  background-color: #92002f;
  // position: fixed;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 20;
  max-width: 600px;
  margin: 0;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.7rem 1.7rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  .navBar__item a {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    margin: 0;
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  .active {
    background-color: rgba(187, 96, 96, 0.39);
    position: relative;
    border-radius: 5px;
    padding: 0.2rem;
  }
}

.home {
  font-size: 10px;
}

.chatBubble {
  color: red;
}
