.subNav {
  background-color: #92002f;
  position: fixed;
  top: 0;
  z-index: 20;
  padding: 5px 25px 5px 25px;
  border-bottom-left-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
  color: white;
  text-align: center;
  
  grid-gap: 2rem;
}

.alert {
  position: absolute;
  right: 0;
  background-color: white;
  width: 300px;
}
