.post {
  border-width: 2px;
  border-radius: 2px;
}

.flexItem {
  padding: 0px 0px 0px 7px;
  font-size: 17px;
}

.postContainer {
  background-color: #f6efe8;
  margin: 0px 0px 10px 0px;
  border-radius: 7px;
}

.textContainer {
  padding: 7px 30px 0px 30px;
}

.likeCommentContainer {
  padding: 0px 25px 10px 25px;
  margin-top: 15px;
  border-radius: 4px;
}


.postWrapper__img {
  height: 50px;
  width: 50px;
}


.submitComment {
  font-size: 16px;
  position: relative;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
  border-color: white;
  border-style: none;
  border-radius: 50px; /* 5px rounded corners */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  max-width: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 5px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.addComment {
  padding: 1px;
}