

.showLikesButton {

    padding: 0px 7px;

}

.likesNames {

    padding: 0px 7px 0px 0px;
    display: inline-block;
    flex-wrap: wrap;
    font-size: 12px;
    font-style: italic;

}



.liked {
    color: #92002f;
   
}

