/*** Layout styling ***/

/*** custom classes ***/

.disable_scroll {
  height: 100%;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.flex--center {
  @extend .flex;
  justify-content: center;
}

.flex--space-around {
  @extend .flex;
  justify-content: space-around;
}

.flex--space-between {
  @extend .flex;
  justify-content: space-between;
}
