// Layout styling
body {


  background-color: #85171B;
  color: #F6EFE8;
  display: inline-block;
  vertical-align: middle;
  margin: 10em auto 10em auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  
  
}


// custom classes
.flex {
  display: flex;
  align-items: center;
}

.flex--center {
  @extend .flex;
  justify-content: center;
}

.flex--space-around {
  @extend .flex;
  justify-content: space-around;
}

.flex--space-between {
  @extend .flex;
  justify-content: space-between;
}
